/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: rgba(153,102,153, 0.5);
  border-radius: '50%',
}

/* selected link */
a:active {
  color: blue;
}